NETUID=14
SUBTENSOR_NETWORK=finney
SUBTENSOR_CHAIN_ENDPOINT=wss://entrypoint-finney.opentensor.ai
API_LOG_LEVEL=INFO
TOP_AXONS_ONLY=TRUE
AXONS_TO_QUERY=12
UID=$(id -u)
GID=$(id -g)
WALLET_NAME=
WALLET_HOTKEY=tmp